.header {
  background: var(--white);
  height: 5.5rem;
  
  align-items: center;
  display: flex;

  padding: 2rem 4rem;

  border-bottom: 1px solid var(--gray-100);

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .logo {
    max-height: 60px;
  }
  
  .title_group {
    padding-left: 25px;
  }

  .title_group i {
    padding-right: 5px;
  }
}
