.header {
  display: flex;
  align-items: center;
  background: var(--white);

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .logo {
    max-height: 60px;
  }
  
  .title_group {
    padding-left: 25px;
  }

  .title_group i {
    padding-right: 5px;
  }
}
