.container {
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  background-color: var(--white);
  border-radius: 10px;
  padding: 25px;

  h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
  }
}

.register {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fullBox {
  flex: 1 1 100%;
  position: relative;
}

.halfBox {
  flex: 1 1 45%;
  position: relative;
}

label {
  font-weight: bold;
  font-size: .8rem;
}

input {
  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: .9rem;
  margin-bottom: 40px;
}

input:focus {
  border-color: #E60084
}

input[type="submit"] {
  background-color: #E60084;
  color: var(--white);
  border: none;
  border-radius: 20px;
  height: 40px;
  cursor: pointer;
}